.empty-div,
.footer ul li,
.navbar {
    background-color: var(--main-color)
}

.buttonSubscribe button,
.footer ul li:hover {
    background-color: var(--second-color);
    color: #fff
}

.footer ul li,
.right li a:hover {
    cursor: pointer
}

:root {
    --main-color: #1E202B;
    --second-color: #009AD8;
    --thred-color: #262936
}

body {
    padding: 0;
    margin: 0
}

.nav-link,
.navbar {
    color: #fff
}

.left li a,
.navbar-toggler-icon {
    color: #fff !important
}

.content {
    height: 400px;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover
}

.empty-div {
    height: 300px
}

.footer {
    background-color: var(--thred-color)
}

.card-body ul,
.footer ul,
.right li {
    list-style: none
}

#WeatherCondition,
.nextDayWeatherCondition {
    color: #009ad8
}

.footer ul li {
    text-decoration: none;
    padding-top: 8px;
    margin: 3px;
    width: 45px;
    height: 45px;
    font-size: 20px;
    color: var(--second-color);
    border-radius: 50%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

#searchInput,
.subscribeInput {
    background-color: var(--main-color) !important;
    border: none !important;
    color: #fff !important
}

#RightCard,
#leftCard {
    background-color: #323544c5
}

.left li a:hover,
.navbar-toggler {
    color: var(--second-color) !important
}

.buttonSubscribe {
    position: absolute;
    top: 8px;
    right: 6px
}

.buttonSubscribe button {
    padding: 10px;
    border-radius: 25px;
    border: none;
    width: 120px
}

.left li,
.right li a {
    color: #fff !important
}

.position-Div {
    text-align: center;
    width: 80%;
    position: absolute;
    top: 10%;
    left: 10%
}

#leftCard {
    text-align: left !important
}

#leftCard h1 {
    font-size: 90px;
    font-weight: 700
}

.card-body ul li {
    padding: 15px;
    font-size: 15px
}

#RightCard .card-header,
#leftCard .card-header {
    background-color: #2d303d
}

#CenterCard .card-header {
    background-color: #222530
}

#CenterCard {
    background-color: #262936a1
}

.right p {
    font-size: 12px;
    text-align: center
}

.right li a {
    font-size: 20px;
    font-weight: 700
}

.left li {
    border-radius: 20px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    border: 3px solid #009bd800 !important
}

.left li:hover {
    border: 3px var(--second-color) solid !important
}

.navbar-toggler {
    background-color: #4e536e
}


@media screen and (max-width:1200px) {
    .empty-div {
        height: 400px
    }

    .position-Div {
        width: 100%;
        left: 2%
    }
}

.coloring-option {
    top: 200px;
    left: 0;
    z-index: 999;
}

.coloring-option li {
    height: 30px;
    width: 30px;
    margin: 0 5px;
    background-color: red;
    cursor: pointer;

}

.colors-icon {
    cursor: pointer;
}


.loading {
    position: fixed;
   
    inset: 0;
    background-color: rgba(0, 0, 0, 0.952);
    display: flex;
    justify-items: center;
    align-items: center;
    z-index: 99999;
}


.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-bottom: 4px solid #FF3D00;
    border-left: 4px solid transparent;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

      

@media screen and (max-width:1000px) {
    .empty-div {
        height: 900px
    }

    .position-Div {
        width: 100%;
        left: 2%
    }
}

@media screen and (max-width:800px) {
    .empty-div {
        height: 1300px
    }

    .position-Div {
        width: 100%;
        left: 2%
    }
}